.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
}

/* Начало изменений */
.image {
	margin-right: 65px;
	max-width: 30%;
	border-radius: 40px;
}

/* Конец изменениий */

.title {
	font-family: 'PP Monument Extended';
	font-style: normal;
	font-weight: 400;
	font-size: 43px;
	line-height: 120%;

	/* identical to box height, or 52px */
	letter-spacing: -0.03em;

	color: #ffffff;
	margin-bottom: 34px;
}

.subtitle {
	font-family: 'PP Monument Extended';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;

	color: #ffffff;
	margin-bottom: 20px;
}

.text {
	font-family: 'PP Monument Extended';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 100%;

	color: #ffffff;

	opacity: 0.5;
	flex: 1 1 auto;
}

.balance {
	font-family: 'PP Supply Mono';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;

	color: #ffffff;

	opacity: 0.5;
}

.number {
	font-family: 'PP Supply Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;

	/* identical to box height, or 24px */
	letter-spacing: -0.03em;
	margin: 0 15px;
	color: #ffffff;
	margin-bottom: 33px;
}

.label {
	font-family: 'PP Supply Mono';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.03em;

	color: #ffffff;

	opacity: 0.5;
	margin-bottom: 27px;
}

.bigText {
	font-family: 'PP Monument Extended';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: -0.03em;

	color: #ffffff;
}

@media screen and (max-width: 1220px) {
	.row {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.image {
		margin-right: 0;
		margin-bottom: 50px;
		max-width: 100%;
	}

	.title {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}

	.bigText {
		text-align: center;
	}

	.text {
		text-align: center;
		margin-bottom: 40px;
	}

	.column {
		align-items: center;
		margin-bottom: 30px;
		width: 100%;
	}

	.column:last-child {
		margin: 0 !important;
		align-items: center;
		width: 100%;
	}
	.column:last-child button {
		width: 100%;
	}

	.row input {
		min-width: 100%;
	}
}
